# -------------------------
# Python cache and build
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# -------------------------
# IDE / Environment configs
# -------------------------
.idea/
.vscode/
.env

/static/
# -------------------------
# Sensitive or private data
# -------------------------
EncodeFile.p
student_data.json
teacher_data.json

# -------------------------
# Model weights
# -------------------------
models/
*.pt
*.pth

# -------------------------
# Temporary / debug files
# -------------------------
*.log
*.tmp
